<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	body{
    margin-top:20px;
    background:#f8f8f8
}
    </style>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    
  </div>

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(107, 105, 105);">
                      
                      <img style="height: 135px; width: 135px;border-radius: 5px;"  src="{{user.image.url}}" alt="Avatar"> 
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Mr. {{user.last_name}}</h4>
                    <p class="mb-0">{{user.username}}</p>
                    <div class="text-muted"><small>Last seen: {{user.last_login}}</small></div>
                    <div class="mt-2">
                      <form action="upload_pic" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                      <button class="btn btn-primary" type="button" onclick="document.getElementById('getFile').click()">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                        <input type='file' name="file" id="getFile" style="display:none">
                      </button> 
                    
                      
                     <button class="btn btn-primary" type="submit">
                        <span>Save Image</span> 
                        
                

                      </form>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">
                    {%if user.is_admin %}
                     admin
                     {%elif user.is_trustee%}
                     treustee
                     {%else%}
                     normal user
                     {% endif %}
                    </span>
                    <div class="text-muted"><small>Joined:  {{user.date_joined}}</small></div>
                  </div>
                </div>
              </div>
              
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                <li class="nav-item"><a href="/change-password" class="active nav-link">Change Password</a></li>
              
                <li class="nav-item" style="text-align:center; width:100%;">
                  
                    {% for message in messages%}
                   <font color="red" style="font-size:17px;"> {{message}} </font>
                    {% endfor %}
                 
                </li>
              </ul>
              
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="" action="" method="Post">
                    {% csrf_token %}

                    

                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              
                              <label>First Name</label>
                              <input class="form-control" type="text" name="first_name" placeholder="John Smith" value="{{user.first_name}}">
                              
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Last Name</label>
                              <input class="form-control" type="text" name="last_name" placeholder="John Smith" value="{{user.last_name}}"> 
                            
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Username</label>
                              <input class="form-control" type="text" name="username" placeholder="johnny.s" value="{{user.username}}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" name="email" placeholder="user@example.com" value="{{user.email}}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>About</label>
                              <textarea class="form-control" rows="5" name="about" placeholder="{{user.about}}" value="{{user.about}}">{{user.about}}</textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" name="password" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                      
                      </div>
                      
                    </div>
                    <br><br><br><br><br>
                    
                    <div class="row" style="text-align: center;">
                      <div class="col d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                      </div>
                    </div>
                  </form>    
                </div>
                
              </div>
              
            </div>
            
          </div>
        </div>
        
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-secondary"  >
                <i class="fa fa-sign-out"></i>
                <a href="logout" style="color: white;text-decoration: none;"> logout </a>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Support</h6>
            <p class="card-text">Get fast, free help from our friendly assistants.</p>
            <button type="button" class="btn btn-primary">
              <a href="/#contact-section" style="color: white;text-decoration: none;"> Contact Us </a>
            </button>
                
          </div>
        </div>
          
      </div>
    </div>
    
  </div>
</div>

</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>