{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>SignUp</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'user_register/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->

<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="register" method="post" >
					{% csrf_token %}
					<table>
						<tr>
							<td style="width:45%"><input class="text" type="text" name="fname" placeholder="First Name" required=""></td>
							<td style="padding-left:30px;padding-right: 15px"><input class="text" type="text" name="lname" placeholder="Last Name" required=""></td>
						</tr>
					</table>

					<br><br>
					<input class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="Password" name="password" placeholder="Password" required="">
					<input class="text w3lpass" type="Password" name="password1" placeholder="Confirm Password" required="">
					
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
						
					</div>
				<p style="text-align: center;">	{% for message in messages%}
					<font color="red" size="4"> {{message}}  </font>
					{% endfor %}
                  </p>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Have an Account? <a href="login"> Login Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
				<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>